@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

html {
  font-family: "Fira Sans", sans-serif;
}

.page-switcher-link {
  padding-top: 20px;
  text-decoration: none;
  color: black;
}

#beethoven > #text {
  width: 50%;
  margin: 0 auto;
}

#beethoven > h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}

.heading {
  font-weight: 900;
}

df {
  text-align: center;
}
